<div class="w-full bg-blue-900">
    <span class="text-white text-4xl ml-8 ">
        <span class="text-red-600">R</span>
        <span class="text-xl">adar</span>
    </span>
</div>
<div class="flex h-screen w-full overflow-hidden">
    <div class="h-full bg-blue-800 min-w-0 p-5"></div>
    <div class="bg-gray-400 m-2 border border-gray-900 " style="width: 600px; height: 600px;"  #radarArea>
      <div style="transform: translate(300px,300px);">A</div>
      <div style="transform: translate(200px,200px);">A</div>
      <div style="transform: translate(300px,400px);">A</div>

    </div>
</div>
